// FRONT PAGE
#front-page {
  position: relative; // background: #dc71e8;
  // background: -moz-linear-gradient(-30deg, #dc71e8 0%, #6bd9f4 100%);
  // background: -webkit-linear-gradient(-30deg, #dc71e8 0%, #6bd9f4 100%);
  // background: linear-gradient(135deg, #dc71e8 0%, #6bd9f4 100%);
  // filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#dc71e8', endColorstr='#6bd9f4', GradientType=1);
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
  font-weight: 100;
  text-transform: none;
  color: white;
  min-height: 60vh;
  >* {
    z-index: 2;
  }
}

.post {
  padding: 1rem;
}

.dual {
  // flex: 0 1 50%;
  article {
    width: 50%;
    padding: 20pt;
  }
  .dual-img-container {
    position: relative;
    overflow: hidden;
  }
}

.icon-section {
  background-repeat: no-repeat;
  background-size: cover !important;
  .icon-item {
    margin: 1rem;
    padding: .5rem;
    &.labeled {
      max-width: 285pt;
    }
    &.labeled:nth-of-type(even) {
      >div {
        flex-direction: row-reverse;
        img {
          margin-left: 1.5rem;
        }
      }
    }
    img {
      max-width: 128pt;
    }
    >div {
      img {
        border-radius: 50%;
        width: 52pt;
        margin-right: 1.5rem;
      }
      .info {
        text-align: left;
        h3 {
          font-weight: bold;
        }
        h4 {
          font-weight: lighter;
          font-size: 90%;
          font-style: oblique;
        }
      }
    }
  }
}

.caroussel-section {
  position: relative;
  width: 100%;
  overflow: hidden;
  &.destinations-section {
    img {
      border-radius: 50%;
    }
  }
  .slick-container {
    position: relative;
    width: 100%;
  } // posts
  .job-tips,
  .destinations {
    width: auto;
    margin: 1rem;
    @include shadow;
  }
}

.pe-news {
  background-color: #f5f5f5;
  li {
    width: 128pt;
  }
}