.ghost-nav {
  height: 3.5rem;
}

nav {
  list-style: none;
  background: white;
  padding: 0 36px;
  @include shadow;
  position: fixed;
  width: 100%;
  z-index: 999;
  @media #{$grid-sm} {
    padding-right: 0;
  }
  .button {
    padding: 12px 18px;
    font-size: 100%;
    text-transform: none;
    box-shadow: none;
    &.outline {
      background-color: transparent;
      transition: .3s ease;
      &:hover {
        color: white;
      }
    }
  }
  .menu {
    >li {
      margin-right: .5rem;
      position: relative;
      @include transition;
      &:hover {
        background-color: rgba(black, .05);
      }
      a {
        display: flex;
        padding: 24px;
        width: 100%;
        height: 100%;
        white-space: nowrap;
        position: relative;
        color: $color;
        line-height: 1;
        font-size: 100%;
        &:visited {
          color: lighten($color, 10%);
        }
      }
    }
  }
  .current-menu-item {
    background-color: rgba(black, .05);
    border-bottom: 1px solid $main-color;
  }
}

.menu-item-has-children {
  position: relative;
  padding-right: 24px;
  >a {
    pointer-events: none;
  }
  &:hover::after,
  &:focus::after {
    opacity: .2;
  }
  &:after {
    transition: opacity .2s;
    content: '';
    width: 24px;
    height: 24px;
    display: block;
    background: url("data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/PjwhRE9DVFlQRSBzdmcgIFBVQkxJQyAnLS8vVzNDLy9EVEQgU1ZHIDEuMS8vRU4nICAnaHR0cDovL3d3dy53My5vcmcvR3JhcGhpY3MvU1ZHLzEuMS9EVEQvc3ZnMTEuZHRkJz48c3ZnIGhlaWdodD0iNTEycHgiIGlkPSJMYXllcl8xIiBzdHlsZT0iZW5hYmxlLWJhY2tncm91bmQ6bmV3IDAgMCA1MTIgNTEyOyIgdmVyc2lvbj0iMS4xIiB2aWV3Qm94PSIwIDAgNTEyIDUxMiIgd2lkdGg9IjUxMnB4IiB4bWw6c3BhY2U9InByZXNlcnZlIiB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHhtbG5zOnhsaW5rPSJodHRwOi8vd3d3LnczLm9yZy8xOTk5L3hsaW5rIj48cG9seWdvbiBwb2ludHM9IjM5Ni42LDE2MCA0MTYsMTgwLjcgMjU2LDM1MiA5NiwxODAuNyAxMTUuMywxNjAgMjU2LDMxMC41ICIvPjwvc3ZnPg==");
    background-size: contain;
    background-repeat: no-repeat;
    position: absolute;
    right: 6px;
    top: 50%;
    opacity: .1;
    margin-top: -12px;
  }
}

.drop-element,
.sub-menu {
  display: none;
  z-index: 998;
  margin-top: -8px;
  @include transition;
}

.drop-element.drop-open {
  display: block;
}

.drop-content {
  background: #f5f5f5;
  list-style: none;
  border: 1pt solid #e5e5e5;
  border-radius: $radius;
  .menu-item {
    padding: 1rem;
    max-width: 250pt;
    min-width: 120px;
    border-bottom: 1pt solid rgba(black, .05);
    &:first-of-type {
      margin-top: 24px;
    }
    &:hover {
      background-color: rgba(black, .025)
    }
    a {
      display: block;
      color: $black5;
      line-height: $radius;
      padding: $radius;
      padding-left: $radius;
    }
  }
}

.menu-logo {
  a {
    height: 100%;
    display: flex;
    position: relative;
    img {
      position: relative;
      height: 2rem;
      margin-top: 1rem;
      margin: auto 0;
      width: auto;
    }
  }
}

.mobile-menu-toggle {
  padding: .8rem 1.5rem;
}

.overlay {
  position: absolute;
  right: 0;
  left: 0;
  bottom: 0;
  background-color: $black8;
  opacity: 0;
  transition: all 450ms cubic-bezier(0.32, 1, 0.23, 1) 0ms;
  z-index: 1101;
  .gaveta {
    position: fixed; // bottom: 0;
    top: 0;
    width: 100%;
    background-color: #fff;
    padding: .5rem;
    padding-bottom: 0;
    box-sizing: border-box;
    @include shadow;
    transform: translate(0, -100%);
    transition: all 450ms cubic-bezier(0.32, 1, 0.23, 1) 100ms;
    z-index: 1102;
    ul {
      margin-top: 2.8rem;
      width: 100%;
    }
    li {
      width: 100%;
      position: relative;
      border-bottom: 1px solid rgba(black, .05);
      line-height: .15;
      font-size: 1.25rem;
      a {
        color: $color;
        padding: .8rem 3rem .5rem 1rem;
        display: block;
        width: 100%;
        line-height: 1.4;
        height: 100%;
        position: relative;
      }
    }
  }
  .btn-close {
    position: absolute;
    top: .5rem;
    right: .5rem;
    color: red;
    font-weight: bold;
    padding: 1rem;
  }
  &:target {
    // Active animate in modal
    z-index: 1104;
    display: block;
    position: fixed;
    opacity: 1;
    top: 0;
    .gaveta {
      transform: translate(0, 0);
      z-index: 1105;
    }
  }
}